$ten: 10;

//nesting allows the definitions to be joined together
ul{

  list-style: none;
  margin: $ten;
  padding: 1;
//note the ul has not been closed - so this will generate "ul li" in css
  li{
    margin-top: $ten;
    display: inline;
    a{
      background-color: #bbb;
      text-decoration: underline;
      padding: 3px;
      color: #fff;
      border: 1px solid #222;
//symbol & reffers to parent - in this case "a"
      &:hover{
        background-color: #ddd;
      }
    }
  }
}

p {
    font: {
        family: Courier;
        size: 40px;
        //calculations can be used with existing variables to create dynamic properties
        weight: $ten*10;
    }
}
