$dark-grey: #222;
$grey: #ccc;
$red: #f00;
$green: #0f0;
$yellow: #ff0;

.left-text {
  text-align: left;
  vertical-align: top;
  line-height: 30px;
}

.centered-text{
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.right-text{
  text-align: right;
  vertical-align: bottom;
  line-height: 80px;
}

.message {
  @extend .centered-text;
    margin: 10px;
    height: 50px;
    border: 1px solid $dark-grey;
    border-radius: 10px;
}

.info {
    @extend .message;
    background-color: $grey;
}

.success {
  @extend .left-text;
    @extend .message;
    background-color: $green;
}

.error {
    @extend .message;
    @extend .right-text;
    background-color: $red;
}

.warning {
    @extend .message;
    background-color: $yellow;
}
