body{
  background-color: #92AF79;
}
.underbanner div {
   width: 100%;
   height: 70px;
   background-image: url('../images/G2221-178.jpg');
   background-repeat: repeat;
   background-size: contain;
   border: 1px solid dark-green;
}
#page {
  display: grid;
  width: 100%;
  height: 95vh; /* view port - takes it from the windows size not from parent! The property "90vh" can be read as "90% of view height" */

  border: 1px solid #608D39 ;
  grid-template-areas: "head head head"
                       "nav  main side"
                       "foot  foot foot";
  grid-template-rows: 15% 1fr 5%;
  grid-template-columns: 20% 1fr 25%;
}

#page > header {
  grid-area: head;
  background-color: #58613A;
  font-size: 20px;
  border: 1px dashed #608D39;

}

#page > nav {
  grid-area: nav;
  background-color: #2F5D40 ;
}

#page > main {
  grid-area: main;
/*  max-height: 600px; */
  scroll-behavior: auto;
  overflow: auto;
}

#page > footer {
  grid-area: foot;
  background-color: #2C4937 ;
  color: white;
  text-align: center;
}
#page > aside {
  grid-area: auto / auto / auto;
  background-color: #2F5D40;
  float: right;
  text-align: center;
}

nav > ul > li {
  display: block;
  height: 20px;
  width: 75%;
  background-color: #B6BEAF;
  border: 1px solid #000;
}
aside > header {
  font-size: 1.2em;
}

@media screen and (orientation:portrait){


}
@media screen and (orientation:landscape){


}
